* {
  font-family: Poppins;
  padding: 0px;
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;

}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_logo_text {
  float: "left";
  margin-left: 15px;
  font-size: 20px;
}

h1 {
  font-weight: 600;
  color: #00754A;
}

.nav_bar {
  padding: 0;
}

.navbar_link {
  display: inline;
  padding: 0px 25px;
  font-size: 17px;
  list-style: none;
  line-height: 27px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: black;
}

.hero {
  background-image: url('../public/Hero.png');
  width: 100%;
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mainLine {
  text-align: center;
  color: white;
  letter-spacing: 4px;
  font-size: 50px;
  padding: 0px 20px;
}

.plan_button {
  color: white;
  width: 250px;
  height: 50;
  font-size: 18px;
  position: absolute;
  bottom: -20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #00754A;
}

.main_body {
  width: 90%;
  margin: auto;
}

.finance {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  text-align: center;
  width: 100%;

}

.finance_heading {
  font-size: 16px;
  margin: 10px 0px 8px 0px;
  font-weight: 600;
}

.finance_text {
  font-size: 14px;

}

.section_three {
  text-align: center;
  width: 100%;
}

.section_three_heading {
  margin-bottom: 10px;
  font-size: 50px;
}

.section_four {
  text-align: center;
  margin-bottom: 100px;
}

.section_four_heading {
  font-size: 50px;
  padding: 70px 0px;
}

.grid_container {
  display: flex;
  gap: 20px;
}

.section_four_card_one {
  display: flex;
  flex-basis: 65%;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 35%);

}

.food_img {
  background-image: url("../public/food.png");
  width: 30%;
  height: 370px;
  background-size: cover;
  background-position: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.section_four_card_one_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 65%;
  left: 2.5%;
  position: relative;
}

.bbq {
  font-size: 28px;
}

.bbq_para {
  font-size: 18px;
}

.trip_plans {
  width: 100%;
  position: absolute;
  bottom: 10px;
  border-top: 2px solid #00754A;
  color: #00754A;
}

.trip_plans_p {
  font-size: 18px;
  float: left;
  line-height: 34px;
}

.section_four_card_two {
  flex-grow: 0;
  flex-basis: 35%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 35%);
  border-radius: 10px;
}

.camp_img {
  background-image: url("../public/camp.png");
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section_four_card_two_text {
  text-align: left;
  width: 90%;
  left: 5%;
  height: 190px;
  position: relative;

}

.riverside {
  font-size: 20.5px;
  padding-top: 8px;
  box-sizing: border-box;
}

.riverside_para {
  font-size: 17.4px;
}

.trip_plan {
  width: 100%;
  position: absolute;
  bottom: 10px;
  border-top: 2px solid #00754A;
  color: #00754A;
}

.section_five_main_heading {
  text-align: center;
  font-size: 50px;
  margin-bottom: 80px;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 400px);

}

.item_one {
  background-image: url("../public/options_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.item_two,
.item_three,
.item_six {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item_text_align {
  font-size: 30px;
  color: hsla(0, 0%, 7%, .8);
  font-family: Poppins, sans-serif;
  font-weight: 800;
  line-height: 130%;

}

.item_text_p {
  font-size: 24px;
  line-height: 164%;
  margin-top: 10px;
  color: hsla(0, 0%, 7%, .8);
}

.item_four {
  background-image: url("../public/items_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47%;
}

.item_five {
  background-image: url("../public/popup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.section_five_text_width_item_one {
  width: 70%;
  margin: auto;
}

.footer {
  background-color: #1b1b1b;
  padding: 20px 0;
}

.footer_inside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  width: 90%;
  margin: auto;

}

.footer_img {
  background-image: url(../public/footer-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  width: 130px;
  height: 130px;

}

.copyright {
  font-size: 16px !important;

}

.web {
  font-size: 14px !important;
}

.footer p {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0px;
  letter-spacing: 1px;
}

.mw_img {
  background-image: url(../public/mmw_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 55px;
  height: 55px;
  margin-right: 10px;

}

.insta {
  background-image: url(../public/insta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 55px;
  height: 55px;
  float: left;
}

.linkdin {
  background-image: url(../public/linkdin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 55px;
  height: 55px;
  float: left;
}

.footer-copyright,
.mmw {
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.grid_container_slider {
  display: grid;
  grid-template-rows: 380px;
  grid-template-columns: repeat(3, 33.3%);
  overflow: hidden;
  scroll-behavior: smooth;
  margin-top: 50px;
}

.outer {
  width: 80%;
  margin: auto;
  position: relative;
}

i {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  background-color: rgb(94, 89, 89);
  transform: translateY(-50%);
  text-align: center;
  border-radius: 50%;
  color: white;
}

i:first-child {
  left: -23px;
  line-height: 45px;
}

i:last-child {
  right: -23px;
  line-height: 45px;

}

.slider_item {
  position: relative;
  margin: 10px;
}

.sliderimg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 10px;
  scroll-behavior: smooth;
}

.slide_item_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 600;
}

.holiday {
  bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
}